<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pallets Stacking Planner</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
  <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  <div>
    <h1>Pallets Stacking Planner</h1>
    <div class="container">
      <div class="controls">
        <small><b>Controls</b></small>
        <br style="margin-bottom: 0.5em" />
        <button class="add" onclick="add()"><i class="fa fa-plus"></i>Add New Pallet</button>
        <button class="remove" onclick="remove()"><i class="fa fa-minus"></i>Remove Last Pallet</button>
      </div>
      <form action="#" method="post" id="pallets-form">
          <small style="margin-bottom: 0"><b>Pallets</b></small>
          <br />
          <div id="formfield">
            <div class="formfield-row">
              <p>Pallet 1</p>
              <input 
                type="number"
                name="pallet-1-left" 
                class="pallet-left"
                min="0"
                placeholder="width" 
                required
              ><input 
                type="number" 
                name="pallet-1-right" 
                class="pallet-right" 
                min="0"
                placeholder="length" 
                required
              ><input 
                type="number" 
                name="pallet-1-count" 
                class="pallet-count" 
                min="1" 
                placeholder="count" 
                required>
            </div>
          </div>
          <input name="submit" type="Submit" value="Submit" id="submit">
      </form>
    </div>
    {% if hasResults %}
      {% if results != None %}
        <div class="ouput">
          <h2>Found plan</h2>
          <p>Total length: <b>{{ length }}</b></p>
          {% for row in results %}
            <p><b>{{ row }}</b></p>
          {% endfor %}
        </div>
        <div class="pallets">
          <small>pallets</small><br />
          {% for i in range(form_arr | length) %}
            <small>{{ i + 1 }}: {{ form_arr[i] }}</small><br />
          {% endfor %}
        </div>
      {% else %}
        <p>Wrong input.</p>
      {% endif %}
    {% endif %}
  </div>
</body>
</html>